:root {
  --main-bg-color: #ff8080;
  --dialog-bg-color: #f6fdc3;
  --dialog-brd-color: #cdfad5;

  --main-brd-radius: 1em;
}

body {
  background: var(--main-bg-color);
}

.dialog {
  background: var(--dialog-bg-color);
  border: solid var(--dialog-brd-color);
  border-radius: var(--main-brd-radius);
}
